prefer-no-csd

input {
  keyboard {
    xkb {
      layout "us"
    }
  }
  touchpad {
    tap
    natural-scroll
    accel-profile "flat"
  }
  mouse {
    accel-profile "flat"
    accel-speed -0.4
  }
  mod-key "Super"
}

clipboard {
  disable-primary // disable middle-click paste
}

